* {
  font-family: "Rajdhani", sans-serif;
}

h2 {
  line-height: 90px !important;
}

.text-gray {
  color: #5c5c5b;
}

.text-primary {
  color: #1518a7 !important;
}

.border-l-primary {
  border-left: solid 15px #1518a7;
}

.carousel-control-custom {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.carousel-container {
  position: relative;
}
.custom-container {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.custom-container-title {
  position: absolute;
  top: 60px;
  z-index: 10;
}
.custom-button {
  /* width: 250px; */
}

.border-none {
  border: none;
}

.bg-secondary {
  background: #ea3133 !important;
}
.bg-primary {
  background: #1518a7 !important;
}

.family-orbitron {
  font-family: "Orbitron", sans-serif;
}

.f-50 {
  font-size: 120px;
}

.f-120 {
  font-size: 120px;
}

.f-140 {
  font-size: 120px;
}

.text-gray-secondary {
  color: #c0c0c061;
}

.bg-gray-secondary {
  background: #c0c0c061;
}

.card-custom {
  position: relative;
  background: url("/images/Recurso\ 4.png") no-repeat center center;
  background-size: cover;
  height: 500px;
  overflow: hidden;
}
.card-text-container {
  position: absolute;
  bottom: 0; /* or top: 0; for the top half */
  width: 100%;
  height: 50%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white;
  display: flex;
  align-items: center;
  padding: 20px;
}

.container-image {
  background-repeat: no-repeat;
  background-size: cover;
}

.container-calendar {
  background: white;
  width: fit-content;
}


  #calendar table thead {
    padding: 1em;
  }

  #calendar table tbody {
    padding: 1em;
  }
/* 
  #calendar table thead {
    padding: 1em 3em;
  }

  #calendar table tbody {
    padding: 0em 3em 1em 3em;
  } */
